# Coleta de Dados no MongoDB com Python

**OBSERVAÇÃO:**

Antes de usar o pymongo pela primeira vez, é necessário instalar o pacote. Para isso, acesse o prompt do Anaconda e execute o comando abaixo:

*conda install -c wakari pymongo*

In [1]:
# Importação de pacote/biblioteca
import pymongo

In [2]:
# Conexão ao banco de dados
#from pymongo import MongoClient
con = pymongo.MongoClient('localhost', 27017)

In [3]:
# Apresentar as informações sobre a conexão
con

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
# Listar os bancos de dados
con.list_database_names()

['admin', 'config', 'igti', 'local']

In [5]:
# Selecionar o banco de dados
db = con.igti

In [6]:
# Apresentar as informações sobre o banco de dados
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'igti')

In [7]:
# Listar as coleções
db.list_collection_names()

['irisDump', 'megasena', 'iris', 'pessoas']

In [8]:
# Selecionar a coleção
collection = db.megasena

In [9]:
# Selecionar o primeiro elemento da coleção (utilizando apresentação do Jupyter Notebook)
collection.find_one()

{'_id': ObjectId('5f23a22e9ba8313d5c24ca75'),
 'Concurso': '1',
 'Data Sorteio': '11/03/1996',
 '1ª Dezena': '4',
 '2ª Dezena': '5',
 '3ª Dezena': '30',
 '4ª Dezena': '33',
 '5ª Dezena': '41',
 '6ª Dezena': '52',
 'Arrecadacao_Total': '0',
 'Ganhadores_Sena': '0',
 'Cidade': '\xa0',
 'UF': '\xa0',
 'Rateio_Sena': '0',
 'Ganhadores_Quina': '17',
 'Rateio_Quina': '39158,92',
 'Ganhadores_Quadra': '2016',
 'Rateio_Quadra': '330,21',
 'Acumulado': 'SIM',
 'Valor_Acumulado': '1714650,23',
 'Estimativa_Prêmio': '0',
 'Acumulado_Mega_da_Virada': '0'}

In [10]:
# Selecionar o primeiro documento da coleção que atenda à condição (utilizando a função print nativa do Python)
print(collection.find_one({ "Ganhadores_Sena": "0" }))

{'_id': ObjectId('5f23a22e9ba8313d5c24ca75'), 'Concurso': '1', 'Data Sorteio': '11/03/1996', '1ª Dezena': '4', '2ª Dezena': '5', '3ª Dezena': '30', '4ª Dezena': '33', '5ª Dezena': '41', '6ª Dezena': '52', 'Arrecadacao_Total': '0', 'Ganhadores_Sena': '0', 'Cidade': '\xa0', 'UF': '\xa0', 'Rateio_Sena': '0', 'Ganhadores_Quina': '17', 'Rateio_Quina': '39158,92', 'Ganhadores_Quadra': '2016', 'Rateio_Quadra': '330,21', 'Acumulado': 'SIM', 'Valor_Acumulado': '1714650,23', 'Estimativa_Prêmio': '0', 'Acumulado_Mega_da_Virada': '0'}

In [11]:
# Importação de pacote/biblioteca
import pprint #outro pacote para imprimir

In [12]:
# Selecionar o primeiro documento da coleção que atenda à condição (utilizando uma biblioteca de impressão com uma formatação melhor)
pprint.pprint(collection.find_one({ "Ganhadores_Sena": "0" }))

{'1ª Dezena': '4',
 '2ª Dezena': '5',
 '3ª Dezena': '30',
 '4ª Dezena': '33',
 '5ª Dezena': '41',
 '6ª Dezena': '52',
 'Acumulado': 'SIM',
 'Acumulado_Mega_da_Virada': '0',
 'Arrecadacao_Total': '0',
 'Cidade': '\xa0',
 'Concurso': '1',
 'Data Sorteio': '11/03/1996',
 'Estimativa_Prêmio': '0',
 'Ganhadores_Quadra': '2016',
 'Ganhadores_Quina': '17',
 'Ganhadores_Sena': '0',
 'Rateio_Quadra': '330,21',
 'Rateio_Quina': '39158,92',
 'Rateio_Sena': '0',
 'UF': '\xa0',
 'Valor_Acumulado': '1714650,23',
 '_id': ObjectId('5f23a22e9ba8313d5c24ca75')}

In [13]:
# Selecionar o primeiro documento da coleção que atenda à condição (imprimindo em um formato mais bem legível)
pprint.pprint(collection.find_one({ "Concurso": "100" }))

{'1ª Dezena': '14',
 '2ª Dezena': '29',
 '3ª Dezena': '30',
 '4ª Dezena': '46',
 '5ª Dezena': '48',
 '6ª Dezena': '51',
 'Acumulado': 'SIM',
 'Acumulado_Mega_da_Virada': '0',
 'Arrecadacao_Total': '0',
 'Cidade': '\xa0',
 'Concurso': '100',
 'Data Sorteio': '01/02/1998',
 'Estimativa_Prêmio': '0',
 'Ganhadores_Quadra': '3600',
 'Ganhadores_Quina': '56',
 'Ganhadores_Sena': '0',
 'Rateio_Quadra': '247,32',
 'Rateio_Quina': '15930,48',
 'Rateio_Sena': '0',
 'UF': '\xa0',
 'Valor_Acumulado': '8585129,47',
 '_id': ObjectId('5f23a22f9ba8313d5c24cada')}

In [14]:
# Selecionar os documentos da coleção que atendam à condição e imprimir os documentos
for documents in collection.find({ "Ganhadores_Sena": "5" }):
    pprint.pprint(documents)

{'1ª Dezena': '3',
 '2ª Dezena': '7',
 '3ª Dezena': '24',
 '4ª Dezena': '32',
 '5ª Dezena': '36',
 '6ª Dezena': '45',
 'Acumulado': 'NÃO',
 'Acumulado_Mega_da_Virada': '0',
 'Arrecadacao_Total': '0',
 'Cidade': '',
 'Concurso': '233',
 'Data Sorteio': '19/08/2000',
 'Estimativa_Prêmio': '0',
 'Ganhadores_Quadra': '21452',
 'Ganhadores_Quina': '512',
 'Ganhadores_Sena': '5',
 'Rateio_Quadra': '90,2',
 'Rateio_Quina': '3790,28',
 'Rateio_Sena': '3196547,03',
 'UF': 'DF ',
 'Valor_Acumulado': '0',
 '_id': ObjectId('5f23a22f9ba8313d5c24cb64')}
{'1ª Dezena': '3',
 '2ª Dezena': '4',
 '3ª Dezena': '29',
 '4ª Dezena': '36',
 '5ª Dezena': '45',
 '6ª Dezena': '55',
 'Acumulado': 'NÃO',
 'Acumulado_Mega_da_Virada': '0',
 'Arrecadacao_Total': '549326718',
 'Cidade': 'RUSSAS ',
 'Concurso': '1350',
 'Data Sorteio': '31/12/2011',
 'Estimativa_Prêmio': '2500000',
 'Ganhadores_Quadra': '85582',
 'Ganhadores_Quina': '954',
 'Ganhadores_Sena': '5',
 'Rateio_Quadra': '536,83',
 'Rateio_Quina': '33711,3',
 'Rateio_Sena': '35523497,52',
 'UF': 'CE ',
 'Valor_Acumulado': '0',
 '_id': ObjectId('5f23a22f9ba8313d5c24d02f')}

In [15]:
# Listar as coleções
db.list_collection_names()

['irisDump', 'megasena', 'iris', 'pessoas']

Cria um banco de dados e uma coleção

In [16]:
# Conexão ao banco de dados
con = pymongo.MongoClient("mongodb://localhost")

In [17]:
# Listar os bancos de dados
con.list_database_names()

['admin', 'config', 'igti', 'local']

In [18]:
# Selecionar o banco de dados Vendas (caso não exista, o mesmo será criado)
db = con["Vendas"]

In [19]:
# Listar os bancos de dados
con.list_database_names()

['admin', 'config', 'igti', 'local']

In [20]:
# Selecionar a coleção clientes (caso não exista, a mesma será criada)
colecao = db["clientes"]

In [21]:
# Listar as coleções
db.list_collection_names()

[]

In [22]:
# Criar um novo documento em formato JSON
documento = { "nome": "maria", "idade": 23}

In [23]:
# Inserir o documento na coleção
resultado = colecao.insert_one(documento)

In [24]:
# Apresentar o resultado da inclusão
print(resultado)

<pymongo.results.InsertOneResult object at 0x000002949FAA6A88>

In [25]:
# Listar os bancos de dados
con.list_database_names()

['Vendas', 'admin', 'config', 'igti', 'local']

In [26]:
# Listar as coleções
db.list_collection_names()

['clientes']

In [27]:
# Listar o primeiro documento encontrado
print(colecao.find_one())

{'_id': ObjectId('5f25f919c7aa9e287e15ce8a'), 'nome': 'maria', 'idade': 23}

In [28]:
# Selecionar os documentos da coleção que atendam à condição e imprimir os documentos
for resultado in colecao.find():
    pprint.pprint(resultado)

{'_id': ObjectId('5f25f919c7aa9e287e15ce8a'), 'idade': 23, 'nome': 'maria'}

In [29]:
# Criar novos documentos em documento
documento = [
    { "nome": "jorge", "idade": 33 },
    { "nome": "ana" },
    { "nome": "William", "endereco": "Avenida  Central n. 954" },
    { "nome": "ana", "endereco": "Avenida  Central n. 954" },
    { "nome": "William", "endereco": "Avenida  Central n. 954" },
    { "nome": "William" }
]

In [30]:
# Apresentar o conteúdo dos documentos
pprint.pprint(documento)

[{'idade': 33, 'nome': 'jorge'},
 {'nome': 'ana'},
 {'endereco': 'Avenida  Central n. 954', 'nome': 'William'},
 {'endereco': 'Avenida  Central n. 954', 'nome': 'ana'},
 {'endereco': 'Avenida  Central n. 954', 'nome': 'William'},
 {'nome': 'William'}]

In [31]:
# Inserir os documentos na coleção
resultado = colecao.insert_many(documento)

In [32]:
# Apresentar o resultado da inclusão
print(resultado)

<pymongo.results.InsertManyResult object at 0x000002949FA86D48>

In [33]:
# Selecionar todos os documentos da coleção e imprimir os documentos
for resultado in colecao.find():
    pprint.pprint(resultado)

{'_id': ObjectId('5f25f919c7aa9e287e15ce8a'), 'idade': 23, 'nome': 'maria'}
{'_id': ObjectId('5f25f9ddc7aa9e287e15ce8b'), 'idade': 33, 'nome': 'jorge'}
{'_id': ObjectId('5f25f9ddc7aa9e287e15ce8c'), 'nome': 'ana'}
{'_id': ObjectId('5f25f9ddc7aa9e287e15ce8d'),
 'endereco': 'Avenida  Central n. 954',
 'nome': 'William'}
{'_id': ObjectId('5f25f9ddc7aa9e287e15ce8e'),
 'endereco': 'Avenida  Central n. 954',
 'nome': 'ana'}
{'_id': ObjectId('5f25f9ddc7aa9e287e15ce8f'),
 'endereco': 'Avenida  Central n. 954',
 'nome': 'William'}
{'_id': ObjectId('5f25f9ddc7aa9e287e15ce90'), 'nome': 'William'}

In [34]:
# Alterar o primeiro documento da coleção que atenda à condição
condicao = { 'nome': 'ana' }
valor = { "$set": { "logradouro": "Avenida JK", "num": 345 } }

colecao.update_one(condicao, valor)

In [35]:
# Selecionar todos os documentos da coleção e imprimir os documentos
for resultado in colecao.find():
    pprint.pprint(resultado)

{'_id': ObjectId('5f25f919c7aa9e287e15ce8a'), 'idade': 23, 'nome': 'maria'}
{'_id': ObjectId('5f25f9ddc7aa9e287e15ce8b'), 'idade': 33, 'nome': 'jorge'}
{'_id': ObjectId('5f25f9ddc7aa9e287e15ce8c'),
 'logradouro': 'Avenida JK',
 'nome': 'ana',
 'num': 345}
{'_id': ObjectId('5f25f9ddc7aa9e287e15ce8d'),
 'endereco': 'Avenida  Central n. 954',
 'nome': 'William'}
{'_id': ObjectId('5f25f9ddc7aa9e287e15ce8e'),
 'endereco': 'Avenida  Central n. 954',
 'nome': 'ana'}
{'_id': ObjectId('5f25f9ddc7aa9e287e15ce8f'),
 'endereco': 'Avenida  Central n. 954',
 'nome': 'William'}
{'_id': ObjectId('5f25f9ddc7aa9e287e15ce90'), 'nome': 'William'}

In [36]:
# Selecionar todos os documentos da coleção que atendam à condição e imprimir os documentos
for resultado in colecao.find({ 'nome': 'ana' }):
    pprint.pprint(resultado)

{'_id': ObjectId('5f25f9ddc7aa9e287e15ce8c'),
 'logradouro': 'Avenida JK',
 'nome': 'ana',
 'num': 345}
{'_id': ObjectId('5f25f9ddc7aa9e287e15ce8e'),
 'endereco': 'Avenida  Central n. 954',
 'nome': 'ana'}

In [37]:
# Alterar todos os documentos da coleção que atendam à condição
condicao = { 'nome': 'ana' }
valor = { "$set": { "logradouro": "Avenida JK", "num": 345 } }

colecao.update_many(condicao, valor)

In [38]:
# Selecionar todos os documentos da coleção que atendam à condição e imprimir os documentos
for resultado in colecao.find({ 'nome': 'ana' }):
    pprint.pprint(resultado)

{'_id': ObjectId('5f25f9ddc7aa9e287e15ce8c'),
 'logradouro': 'Avenida JK',
 'nome': 'ana',
 'num': 345}
{'_id': ObjectId('5f25f9ddc7aa9e287e15ce8e'),
 'endereco': 'Avenida  Central n. 954',
 'logradouro': 'Avenida JK',
 'nome': 'ana',
 'num': 345}

In [40]:
# Excluir o primeiro documento da coleção que atenda à condição
condicao = { 'nome': 'William' }

colecao.delete_one(condicao)

In [41]:
# Selecionar todos os documentos da coleção que atendam à condição e imprimir os documentos
for resultado in colecao.find({ 'nome': 'William' }):
    pprint.pprint(resultado)

{'_id': ObjectId('5f25f9ddc7aa9e287e15ce8f'),
 'endereco': 'Avenida  Central n. 954',
 'nome': 'William'}
{'_id': ObjectId('5f25f9ddc7aa9e287e15ce90'), 'nome': 'William'}

In [42]:
# Excluir todos os documentos da coleção que atendam à condição
condicao = { 'nome': 'William' }

colecao.delete_many(condicao)

In [43]:
# Selecionar todos os documentos da coleção que atendam à condição e imprimir os documentos
for resultado in colecao.find({ 'nome': 'William' }):
    pprint.pprint(resultado)

In [44]:
# Selecionar todos os documentos da coleção e imprimir os documentos
for resultado in colecao.find():
    pprint.pprint(resultado)

{'_id': ObjectId('5f25f919c7aa9e287e15ce8a'), 'idade': 23, 'nome': 'maria'}
{'_id': ObjectId('5f25f9ddc7aa9e287e15ce8b'), 'idade': 33, 'nome': 'jorge'}
{'_id': ObjectId('5f25f9ddc7aa9e287e15ce8c'),
 'logradouro': 'Avenida JK',
 'nome': 'ana',
 'num': 345}
{'_id': ObjectId('5f25f9ddc7aa9e287e15ce8e'),
 'endereco': 'Avenida  Central n. 954',
 'logradouro': 'Avenida JK',
 'nome': 'ana',
 'num': 345}