# Coleta de Dados no MongoDB com R

Para detalhes sobre o pacote mongolite, acesse:

- https://cran.r-project.org/web/packages/mongolite/index.html

In [1]:
# Instalação das bibliotecas
install.packages('mongolite')

package 'mongolite' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\USUARIO\AppData\Local\Temp\RtmpmA7DAt\downloaded_packages

In [2]:
# Importação de bibliotecas
require(mongolite)

Loading required package: mongolite
Warning message:
"package 'mongolite' was built under R version 3.6.3"

**OBSERVAÇÃO:** A mensagem de erro abaixo indica que você não tem o pacote RMongo instalado

Loading required package: mongolite Warning message in library(package, lib.doc=lib.doc, character.only=TRUE, logical.return=TRUE): "there is no package called 'mongolite'"

**Para instalar, execute o comando abaixo:**

- install.packages('mongolite')

In [3]:
# Conecta ao SGBD MongoDB
connection <- mongo(collection="megasena", db="igti", url="mongodb://localhost")

Registered S3 method overwritten by 'openssl':
  method      from
  print.bytes Rcpp

In [4]:
# Filtra por ganhadores da sena
query <- connection$find('{ "Ganhadores_Sena": "1" }')

In [5]:
# Seleciona o campo rateio da sena
exam_scores <- query[c("Rateio_Sena")]

In [6]:
# Visualiza a sumarização do campo para todos os documentos
summary(exam_scores)

 Rateio_Sena
 Length:327
 Class :character
 Mode  :character

### Ler a coleção Iris no arquivo CSV e inserir no MongoDB

In [7]:
# Carrega o conjunto de dados iris.csv (pode ser obtido pelo seguinte link: https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv)
iris <- read.csv("C:/Users/USUARIO/Downloads/IGTI/Bootcamp Online - Cientista de Dados/3_Modulo2_Coleta_e_Obtencao_de_Dados/Parte2/AulasPraticas/dados/iris.csv")

In [8]:
# Visualiza o conteúdo do conjunto de dados
iris

    sepal.length sepal.width petal.length petal.width variety
1   5.1          3.5         1.4          0.2         Setosa
2   4.9          3.0         1.4          0.2         Setosa
3   4.7          3.2         1.3          0.2         Setosa
4   4.6          3.1         1.5          0.2         Setosa
5   5.0          3.6         1.4          0.2         Setosa
6   5.4          3.9         1.7          0.4         Setosa
7   4.6          3.4         1.4          0.3         Setosa
8   5.0          3.4         1.5          0.2         Setosa
9   4.4          2.9         1.4          0.2         Setosa
10  4.9          3.1         1.5          0.1         Setosa
11  5.4          3.7         1.5          0.2         Setosa
12  4.8          3.4         1.6          0.2         Setosa
13  4.8          3.0         1.4          0.1         Setosa
14  4.3          3.0         1.1          0.1         Setosa
15  5.8          4.0         1.2          0.2         Setosa
16  5.7          4.4         1.5          0.4         Setosa
17  5.4          3.9         1.3          0.4         Setosa
18  5.1          3.5         1.4          0.3         Setosa
19  5.7          3.8         1.7          0.3         Setosa
20  5.1          3.8         1.5          0.3         Setosa
21  5.4          3.4         1.7          0.2         Setosa
22  5.1          3.7         1.5          0.4         Setosa
23  4.6          3.6         1.0          0.2         Setosa
24  5.1          3.3         1.7          0.5         Setosa
25  4.8          3.4         1.9          0.2         Setosa
26  5.0          3.0         1.6          0.2         Setosa
27  5.0          3.4         1.6          0.4         Setosa
28  5.2          3.5         1.5          0.2         Setosa
29  5.2          3.4         1.4          0.2         Setosa
30  4.7          3.2         1.6          0.2         Setosa
... ...          ...         ...          ...         ...
121 6.9          3.2         5.7          2.3         Virginica
122 5.6          2.8         4.9          2.0         Virginica
123 7.7          2.8         6.7          2.0         Virginica
124 6.3          2.7         4.9          1.8         Virginica
125 6.7          3.3         5.7          2.1         Virginica
126 7.2          3.2         6.0          1.8         Virginica
127 6.2          2.8         4.8          1.8         Virginica
128 6.1          3.0         4.9          1.8         Virginica
129 6.4          2.8         5.6          2.1         Virginica
130 7.2          3.0         5.8          1.6         Virginica
131 7.4          2.8         6.1          1.9         Virginica
132 7.9          3.8         6.4          2.0         Virginica
133 6.4          2.8         5.6          2.2         Virginica
134 6.3          2.8         5.1          1.5         Virginica
135 6.1          2.6         5.6          1.4         Virginica
136 7.7          3.0         6.1          2.3         Virginica
137 6.3          3.4         5.6          2.4         Virginica
138 6.4          3.1         5.5          1.8         Virginica
139 6.0          3.0         4.8          1.8         Virginica
140 6.9          3.1         5.4          2.1         Virginica
141 6.7          3.1         5.6          2.4         Virginica
142 6.9          3.1         5.1          2.3         Virginica
143 5.8          2.7         5.1          1.9         Virginica
144 6.8          3.2         5.9          2.3         Virginica
145 6.7          3.3         5.7          2.5         Virginica
146 6.7          3.0         5.2          2.3         Virginica
147 6.3          2.5         5.0          1.9         Virginica
148 6.5          3.0         5.2          2.0         Virginica
149 6.2          3.4         5.4          2.3         Virginica
150 5.9          3.0         5.1          1.8         Virginica

In [9]:
# Conecta ao SGBD MongoDB, a uma coleção específica
connection <- mongo(collection="iris", db="igti", url="mongodb://localhost")

In [10]:
# Insere o conjunto na coleção iris
connection$insert(iris)

List of 5
 $ nInserted  : num 150
 $ nMatched   : num 0
 $ nRemoved   : num 0
 $ nUpserted  : num 0
 $ writeErrors: list()

In [11]:
# Busca os primeiros 5 documentos da coleção iris
connection$find(limit=5)

  sepal_length sepal_width petal_length petal_width variety
1 5.1          3.5         1.4          0.2         Setosa
2 4.9          3.0         1.4          0.2         Setosa
3 4.7          3.2         1.3          0.2         Setosa
4 4.6          3.1         1.5          0.2         Setosa
5 5.0          3.6         1.4          0.2         Setosa

In [12]:
# Cria uma nova coleção: pessoas
pessoas <- mongo(collection="pessoas", db="igti", url="mongodb://localhost")

# Cria novas entradas de documentos (formato JSON)
str <- c('{ "nome": "maria" }', '{ "nome": "ana", "idade": 23 }', '{ "nome": "joão" }')

# Insere as entradas na coleção pessoas
pessoas$insert(str)

List of 6
 $ nInserted  : int 3
 $ nMatched   : int 0
 $ nModified  : int 0
 $ nRemoved   : int 0
 $ nUpserted  : int 0
 $ writeErrors: list()

In [13]:
# Busca todos os documentos na coleção pessoas
pessoas$find()

  nome  idade
1 maria NA
2 ana   23
3 joão  NA

In [14]:
# Apresenta a quantidade total de documentos
pessoas$count()

[1] 3

In [15]:
# Exclui os documentos com idade = 23 (neste caso, apenas a ana)
pessoas$remove('{ "idade": 23 }')
pessoas$count()

[1] 2

In [16]:
# Busca todos os documentos na coleção pessoas
pessoas$find()

  nome
1 maria
2 joão

In [17]:
# Cria novas entradas de documentos (formato JSON)
str <- c('{ "nome": "bill" }', '{ "nome": "anna", "idade": 23 }', '{ "nome": "josé", "idade": 35 }')

# Insere as entradas na coleção pessoas
pessoas$insert(str)

List of 6
 $ nInserted  : int 3
 $ nMatched   : int 0
 $ nModified  : int 0
 $ nRemoved   : int 0
 $ nUpserted  : int 0
 $ writeErrors: list()

In [18]:
# Busca todos os documentos na coleção pessoas
pessoas$find()

  nome  idade
1 maria NA
2 joão  NA
3 bill  NA
4 anna  23
5 josé  35

In [19]:
pessoas$update('{ "nome": "bill" }', '{ "$set": { "idade": 21 }}')

List of 3
 $ modifiedCount: int 1
 $ matchedCount : int 1
 $ upsertedCount: int 0

In [20]:
pessoas$find()

  nome  idade
1 maria NA
2 joão  NA
3 bill  21
4 anna  23
5 josé  35